* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  font-family: "Black Ops One";
  scroll-behavior: smooth;
}

body {
  background: #000;
}

.wrapper {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.box {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}
.box--center {
  align-items: center;
  justify-content: center;
}

.text {
  display: block;
}
.text--header {
  font-weight: 700;
  font-size: 78px;
}
.text--header b {
  color: yellow;
}
.text--small {
  font-size: 32px;
}
nav {
  position: fixed;
}
.link-nav {
  color: white;
  text-decoration: none;
  padding: 6px 12px;
  border: 1px solid white;
  margin: 5px 10px;
}

.btnRed {
  color: white;
  background-color: red;
  font-size: 90px;
}
.shopList {
  display: flex;
  flex-direction: column;
  padding: 6px 12px;
  border: 1px solid white;
}
.shopApp {
  display: flex;
  flex-direction: column;
}
